    <header class="bg-pf-secondary-700 p-4 shadow-lg">
    <div class="header__navbar">
        <!-- <img src="assets/logo.png" alt="logo" class="w-24 md:w-28 lg:w-32 object-contain" /> -->
         <h1 class="text-3xl font-pf-primary font-bold">sieiro<span>dev.</span></h1>

    
        <nav class="hidden md:flex space-x-8">
            <a href="/" class="nav-link">Inicio</a>
            <a href="#sobre" class="nav-link">Sobre</a>
            <a href="#Habilidades" class="nav-link">Habilidades</a>
            <a href="#projetos" class="nav-link">Projetos</a>
            <a href="#contatos" class="nav-link">Contatos</a>
        </nav>
    </div>
    </header>
