<header>

  <div class="header__navbar">

    <h1 class="font-pf-primary">
      sieiro<span>dev.</span>
    </h1>

    <nav>
      <a href="/" class="nav-link">Inicio</a>
      <a href="#sobre" class="nav-link">Sobre</a>
      <a href="#habilidades" class="nav-link">Habilidades</a>
      <a href="#projetos" class="nav-link">Projetos</a>
      <a href="#contatos" class="nav-link">Contatos</a>
    </nav>

    <button
      class="hamburger-btn"
      (click)="toggleMenu()">

      <span [class.active]="isMenuOpen"></span>
      <span [class.active]="isMenuOpen"></span>
      <span [class.active]="isMenuOpen"></span>

    </button>

  </div>

  <div
    class="mobile-menu"
    [class.mobile-menu--open]="isMenuOpen">

    <a href="/" (click)="closeMenu()">
      Inicio
    </a>

    <a href="#sobre" (click)="closeMenu()">
      Sobre
    </a>

    <a href="#habilidades" (click)="closeMenu()">
      Habilidades
    </a>

    <a href="#projetos" (click)="closeMenu()">
      Projetos
    </a>

    <a href="#contatos" (click)="closeMenu()">
      Contatos
    </a>

  </div>

</header>
