<div class="grid grid-cols-1 items-center w-full min-h-lvh ">
  <h1 class="font-bold text-4xl pb-1 border-b-4 border-pf-primary-600 inline-block mx-auto">
  Sobre mim
</h1>

  <div class="flex items-center m-10 gap-9 flex-col lg:flex-row">
    <img src="assets/notebook.png" alt="notebook" class="w-8/12 sm:w-6/12 md:w-5/12 lg:w-4/12" />

    <div class="max-w-2xl mx-auto p-4 text-center leading-relaxed space-y-4 text-pf-secondary-100">
      <p>
        Olá! Meu nome é <span>Felipe Sieiro</span>, tenho {{ idade }} anos e sou desenvolvedor front-end apaixonado por tecnologia e inovação.
      </p>
      <p>
        Atualmente atuo como <span>Web Architect I no Santander</span>. Não foi fácil chegar até aqui, mas com muita dedicação e muito código, conquistei meu espaço, começando como estagiário neste grande banco.
      </p>
      <p>
        Sou formado em Análise e Desenvolvimento de Sistemas pela <span>FIAP</span> e trabalho com diversas tecnologias, mas escolhi a base: <span>HTML</span>, <span>CSS</span>, <span>JavaScript</span> e <span>TypeScript</span> para me tornar um dev front-end. Também uso frameworks como <span>Angular</span>, <span>React</span> e <span>Next.js</span>.
      </p>
      <p>
        Com apenas {{ tempo }} anos de carreira tech, sei que ainda tenho muito a aprender, mas estou sempre buscando novos desafios e oportunidades para crescer profissionalmente.
      </p>
    </div>
  </div>
</div>

