<div class="card">
  <p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
    <ng-template #marker let-event>
      <span class="flex w-8 h-8 items-center justify-center text-white rounded-full z-10 shadow-sm" [style.backgroundColor]="event.color">
      </span>
    </ng-template>

    <ng-template #content let-event>
      <h3 class="text-lg font-semibold text-pf-primary-100">{{ event.status }}</h3>
      <span class="text-sm ">{{ event.date }}</span>
      <p class="mt-2 text-pf-secondary-200">{{ event.description }}</p>
    </ng-template>
  </p-timeline>
</div>