<div class="experience-section">
  <div class="timeline">

    <div class="timeline-item" *ngFor="let event of events">

      <div class="timeline-marker">
        <span [style.background]="event.color"></span>
      </div>

      <div class="timeline-card">
        <div class="timeline-header">
          <div>
            <h3>{{ event.cargo }}</h3>
            <p>{{ event.empresa }}</p>
          </div>
          <span class="timeline-date">
            {{ event.data }}
          </span>
        </div>

        <ul>
          <li *ngFor="let item of event.topicos">
            {{ item }}
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>
